@use "../base/mixins" as *;

.btn {
  width: fit-content;
  display: block;
  background-color: transparent;
  border: 1px solid var(--color-complementary);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--transition-time);
  white-space: nowrap;

  &:hover {
    color: var(--color-complementary2);
    border:1px solid var(--color-complementary2);
  }

  &--fill {
    color: var(--color-white);
    background: var(--color-complementary);

    &:hover {
      color: var(--color-white);
      border:1px solid var(--color-complementary2);
      background-color: var(--color-complementary2);
    }
  }
}