//fade in
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

//fade in - fast
.fadefast-enter-active,
.fadefast-leave-active {
  transition: opacity 0.3s ease;
}

.fadefast-enter-from,
.fadefast-leave-to {
  opacity: 0;
}

//fade in left
.fadeleft-enter-active,
.fadeleft-leave-active {
  position: relative;
  transition: all var(--animation-time) ease var(--animation-delay);
}

.fadeleft-enter-from,
.fadeleft-leave-to {
  opacity: 0;
  left: -4rem;
}

.fadeleft-enter-to,
.fadeleft-leave-from {
  opacity: 1;
  left: 0;
}

//fade in top
.fadetop-enter-active,
.fadetop-leave-active {
  position: relative;
  transition: all var(--animation-time) ease var(--animation-delay);
}

.fadetop-enter-from,
.fadetop-leave-to {
  opacity: 0;
  top: var(--animation-top);
}

.fadetop-enter-to,
.fadetop-leave-from {
  opacity: 1;
  top: 0;
}