@use '../base/mixins' as *;

:root {
  //colors
  --color-primary: #DEB992;
  --color-secondary: #051622;
  --color-complementary: #1BA098;
  --color-complementary2: #28ede0;
  --color-complementary3: rgba(27, 160, 151, 0.3);
  --color-bg: var(--color-secondary);
  --color-bg2: rgba(0,31,51,.8);
  --color-white: #fff;
  --color-text: #869ba9;
  --color-error: #f54242;
  //spacing, containers
  --container-max-lg :89rem;
  --padding : 1.5rem;
  @include min-lg {
    --padding : 2rem;
  }
  //animations
  --transition-time : 0.5s;
  --animation-time : 0.5s;
  --animation-delay : 0.3s;
  --animation-top : -2rem;
  //borders
  --border-radius: 0.4rem;
}