@use '../base/mixins' as *;

.experience-list {
    max-width: calc(100vw - calc(var(--padding) * 2));
    overflow: hidden;

    @include min-lg {
        display: flex;
    }

    &__sidebar {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        overflow-x: auto;
        scrollbar-width: thin;

        @include min-lg {
            flex-direction: column;
            min-width: 18.4rem;
            margin-right: 2rem;
            overflow: hidden;
        }

        &::-webkit-scrollbar {
            background-color: var(--color-complementary3);
        }

        &::-webkit-scrollbar-track {
            background-color: var(--color-secondary);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-complementary3);
            border-radius: var(--border-radius);
        }
    }
    &__sidebar-item {
        padding: 1.5rem;
        color: var(--color-text);
        white-space: nowrap;
        background: transparent;
        border-bottom: 1px solid var(--color-text);
        cursor: pointer;
        transition: all var(--transition-time);

        @include min-lg {
            white-space: unset;
            border-bottom: none;
            border-left: 1px solid var(--color-text);
        }

        &.active,
        &:hover {
            color: var(--color-complementary2);
            background: var(--color-bg2);
            border-bottom: 1px solid var(--color-complementary2);

            @include min-lg {
                border-bottom: none;
                border-left: 1px solid var(--color-complementary2);
            }
        }
    }
}
