@use '../base/mixins' as *;

.expierience-content-item {
    max-width: 60rem;
    &__position {
        margin-bottom: 1rem;
        color: #fff;
        font-weight: 900;
        font-size: 2rem;
    }
    &__name {
        color: var(--color-complementary2);
    }
    &__desc {
        position: relative;
        padding: 1.5rem 0 0 3rem;

        &::before {
            position: absolute;
            left: 0;
            color: var(--color-complementary2);
            content: '▹';
        }
        &:first-child {
            padding-top: 3rem;
        }
    }
}
