@use '../base/mixins' as *;

.footer {
    &__copy {
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: center;
    }

    &__social {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    &__social-item {
        svg {
            width: 2.5rem;
            transition: stroke var(--transition-time);
            stroke: var(--color-complementary);
        }

        &:hover {
            svg {
                stroke: var(--color-complementary2);
            }
        }
    }
}
