@use "../base/mixins" as *;

.footer {

  &__copy {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &__social-item {
    svg {
      width: 2.5rem;
      stroke: var(--color-complementary);
      transition: stroke var(--transition-time);
    }

    &:hover {
      svg {
        stroke: var(--color-complementary2);
      }
    }
  }
}