@use '../base/mixins' as *;

.main {
    width: 100%;
    height: 100%;

    &__template-container {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        @include min-lg {
            align-items: center;
        }
    }
}
