@use '../base/mixins' as *;

.my-work-single {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: var(--padding);
    border-radius: var(--border-radius);
    opacity: 0;
    transition: all var(--transition-time);

    &:hover {
        opacity: 1;
    }

    &__title {
        text-decoration: none;
    }

    &__desc {
    }

    &__tech-list {
        display: flex;
        gap: 1rem;
        margin: 2rem 0;
    }

    &__tech-list-item {
        width: 30px;
        height: 30px;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
    }

    &__links {
        display: flex;
        gap: 1rem;
    }

    &__link {
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
    }
}
