@use '../base/mixins' as *;

.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: 3;

  &__trigger {
    background: #fff;
    margin-left: auto;
    z-index: 2;

    @include min-lg {
      display: none;
    }
  }
  &__list {
    background: white;
    position: absolute;
    top: -16px;
    right: -100%;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transition: right var(--animation-time);
    z-index: 1;

    @include min-lg {
      position: static;
      height: auto;
    }

    &.active {
      right: 0;
    }


  }
  &__item {
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
}